<h1 class="text-center">Todos los anuncios</h1>
<% if account_signed_in? %>
  <% if !current_account.first_name? %>
    <p class="alert-box callout info">Edita tu perfil para que aparezca tu
    nombre no tu correo, en los anuncios <%= link_to 'Edit profile', edit_account_registration_path, :class => 'navbar-link' %> </p>
  <% end %>
<% end %>

<% @anuncios.each do |single| %>
<% if single.date.to_date >= Time.now.to_date %>
  <div class="callout secondary">
    <p> <%= single.content %> </p>
    <p> <%= distance_of_time_in_words(single.created_at, Time.now)%> By: <% if single.account.first_name? %>
      <%= single.account.first_name %> <%= single.account.last_name %>
      <% else %>
      <%= single.account.email %>
      <%end%>
    </p>
    <% if account_signed_in? %>
      <% if current_account.id != single.account.id %>
        <p class="text-right">
          <%= link_to 'Marcar como visto!', seens_path(announcement_id: single.id), method: :post %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
<% end %>